.image{
    height: 60px;
    width: 60px;
/* gap: 20px; */

}


.navContainer{
    background-color: #FFFFFF;
    height: 80px;
    width: 86%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-left: 30px;
    margin-left: 50px;
    margin-top: 30px;
    padding-right: 40px;
    font-size: 0.8125rem;
    letter-spacing:0.08875rem ;
    font-weight: bold;
  /* border: 2px solid green; */
  
  font-size: 15px;
  color: rgb(58, 54, 54);
}
 .navbarCss{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        font-weight: 600;
 }
       
      

.main{
    display: flex;
    flex-direction: row;
   gap: 30px;
}
.par{
    display: flex;
    align-items: center;
    font-weight: 600;
}
.button{
    background-color: #5530A0;
    height: 50px;
    width:8rem;
    border-radius: 2rem;
    border: none;
    color: white;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
}
.homepage{
    display: flex;
    flex-direction: column;
    /* gap: 10rem; */
    margin-top: 8rem;
    margin-left: 5rem;
   
}

